*{
    margin: 0;
}
.info{
    width: 170px
}

body{
    font-family:Arial, Helvetica, sans-serif
}

.topthird{
    background: #1F2937;
    padding-bottom: 50px;
}

.header{
    background: #1F2937;
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 555px;
  
}

.logo{
    border: none;
    border-radius: 5px;
    width: 50px;
    height: auto;
    margin-top: 8px;
}

 .bannerright{
    display:flex;
    align-items: center; 
 }

 .intro{
    color: #F9FAF8;
    font-size: 24px;
    display: flex;
    justify-content: center;
}

ul{
    display: flex;
    list-style-type: none;
    gap: 16px;
}

a{
    text-decoration: none;
    color: #E5E7EB;
    font-size: 14px;
}


h1{
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    margin-bottom: 0;
    margin-top: 40px;
    padding-right: 14px;
    width: 450px;
}

h2{
    font-size: 12px;
    margin-top: 0;
    width: 300px;
}

.signup1{
    background: #3882F6;
    color: white;
    border-radius: 4px;
    border-color: white;
    border-width: 1px;
    margin-bottom: 40px;
}

.headerimage{
    width: auto;
    height: 142px;
    margin: 49px 0 0 100px;
    border: none;
    border-radius: 6px;
}

.contentintro{
    display: flex;
    justify-content: center;
    font-size: 36px;
    color: #1F2937;
    margin: 50px 0 40px 0;
    
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    text-align: center;
    gap: 80px;
}

.contenttext{
    padding-left: 5px;
}


img{
width: 150px;
height: 150px;
border-radius: 12px;
border: 5px solid #3882F6;
}

.quote{
    background: #E5E7EB;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 75px;
    padding-top: 75px;
    margin: 0;
}

p{
    display: flex;
    font-size:20px;
    justify-content: center;
    padding: 0 0 75px 325px;
    background: #E5E7EB;

}

.action{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3882F6;
    color: #E5E7EB;
    height: 75px;
    width: 700px;
    margin: 80px auto;
    gap: 80px;
    border-radius: 6px;
}

.signup2{
    background: #3882F6;
    color: #E5E7EB;
    border-radius: 4px;
    border-color: white;
    border-width: 1px;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1F2937;
    height: 50px;
    color: #E5E7EB; 
    font-size: 12px;
}